.bundle
db/*.sqlite3
log/*.log
tmp/cache
tmp/pids
tmp/sass-cache
coverage
log/searchd.development.pid
config/database.yml
config/development.sphinx.conf
config/general.yml
config/test.yml
db/sphinx/development/*
rerun.txt
public/about.html
public/api/*.html
public/faq.html
public/getinvolved.html
public/index.html
public/sitemap.xml
public/sitemaps/sitemap*.xml.gz
webrat.log
.DS_Store
planningalerts-app.sublime-workspace

# mySoc deployment system
config/database.yml.deployed
config/general.yml.deployed
config/general.tmp.yml
config/test.yml.deployed
public/down.html
vendor/bundle

#IntelliJ
*.iml
.generators
.rakeTasks

#Vagrant
.vagrant
