---
http_interactions:
- request:
    method: get
    uri: http://mapit.mysociety.org/postcode/SW990AA
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 404
      message: NOT FOUND
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Url:
      - /postcode/SW990AA
    body:
      encoding: US-ASCII
      string: ! '{"code": 404, "error": "No Postcode matches the given query."}'
  recorded_at: Thu, 25 Sep 2014 17:10:48 GMT
- request:
    method: get
    uri: http://maps.google.com/maps/api/geocode/json?address=alas%252C%2Bpoor%2Byorick&region=gb&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.002
    body:
      encoding: US-ASCII
      string: ! "{\n   \"results\" : [],\n   \"status\" : \"ZERO_RESULTS\"\n}\n"
  recorded_at: Thu, 25 Sep 2014 17:12:57 GMT
- request:
    method: get
    uri: http://maps.google.com/maps/api/geocode/json?address=SO234B&region=gb&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.002
    body:
      encoding: US-ASCII
      string: ! "{\n   \"results\" : [],\n   \"status\" : \"ZERO_RESULTS\"\n}\n"
  recorded_at: Thu, 25 Sep 2014 17:23:40 GMT
- request:
    method: get
    uri: http://mapit.mysociety.org/point/4326/-1.319368478028908,51.06254955783433
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Thu, 02 Oct 2014 13:06:22 GMT
      Content-Type:
      - application/json; charset=utf-8
      X-Url:
      - /point/4326/-1.319368478028908,51.06254955783433
    body:
      encoding: US-ASCII
      string: ! '{"65921": {"parent_area": null, "generation_high": 22, "all_names":
        {}, "id": 65921, "codes": {"gss": "E14001041", "unit_id": "25128"}, "name":
        "Winchester", "country": "E", "type_name": "UK Parliament constituency", "generation_low":
        13, "country_name": "England", "type": "WMC"}, "11811": {"parent_area": null,
        "generation_high": 22, "all_names": {}, "id": 11811, "codes": {"ons": "08",
        "gss": "E15000008", "unit_id": "41421"}, "name": "South East", "country":
        "E", "type_name": "European region", "generation_low": 1, "country_name":
        "England", "type": "EUR"}, "123782": {"parent_area": null, "generation_high":
        22, "all_names": {}, "id": 123782, "codes": {"ons": "E01023263"}, "name":
        "Winchester 007C", "country": "E", "type_name": "Lower Layer Super Output
        Area (Generalised)", "generation_low": 13, "country_name": "England", "[...]
