---
http_interactions:
- request:
    method: get
    uri: http://mapit.mysociety.org/postcode/SW990AA
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 404
      message: NOT FOUND
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Url:
      - /postcode/SW990AA
    body:
      encoding: US-ASCII
      string: ! '{"code": 404, "error": "No Postcode matches the given query."}'
  recorded_at: Thu, 25 Sep 2014 17:10:48 GMT
- request:
    method: get
    uri: http://maps.google.com/maps/api/geocode/json?address=alas%252C%2Bpoor%2Byorick&region=gb&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.002
    body:
      encoding: US-ASCII
      string: ! "{\n   \"results\" : [],\n   \"status\" : \"ZERO_RESULTS\"\n}\n"
  recorded_at: Thu, 25 Sep 2014 17:12:57 GMT
- request:
    method: get
    uri: http://maps.google.com/maps/api/geocode/json?address=SO234B&region=gb&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.002
    body:
      encoding: US-ASCII
      string: ! "{\n   \"results\" : [],\n   \"status\" : \"ZERO_RESULTS\"\n}\n"
  recorded_at: Thu, 25 Sep 2014 17:23:40 GMT
recorded_with: VCR 2.5.0
