#footer-wrapper
  #footer.container
    %ul.keepintouch
      %li
        Email us at
        = mail_to "planning@hampshire.gov.uk"
    .oaf
      %h4
        A
        %a(href="http://mysociety.org" title="mySociety") mySociety
        Project
      %h5
        Built on
        %a(href="https://github.com/openaustralia/planningalerts" title="PlanningAlerts on GitHub") open source code
        from
        %a(href="http://openaustraliafoundation.org.au" title="The OpenAustralia Foundation") The OpenAustralia Foundation
