#footer-wrapper
  #footer.container
    %h3 OpenPlanning
    .keepintouch
      %p Lorem ipsum dolor sit amet, cum id quot paulo fierent, eos ea clita henderit necessitatibus. Ut saperet expetenda periculis vis. Impetus prompta rationibus quo id.
    .oaf
      %p
        A
        %a(href="http://mysociety.org" title="mySociety") mySociety project
      %p
        Built on
        %a(href="https://github.com/openaustralia/planningalerts" title="PlanningAlerts on GitHub") open source code
      %p
        from
        %a(href="http://openaustraliafoundation.org.au" title="The OpenAustralia Foundation") The OpenAustralia Foundation
