#footer-wrapper
  #footer.container
    %h3 OpenPlanning
    .keepintouch
      %p
        %strong Find,
        %strong Filter
        and
        %strong View
        applications in your local area or area of interest. By gathering planning application details from multiple Councils you can find out what is happening regardless of administrative boundaries or determining authority.
    .oaf
      %p
        A
        %a(href="http://mysociety.org" title="mySociety") mySociety project
      %p
        Built on
        %a(href="https://github.com/openaustralia/planningalerts" title="PlanningAlerts on GitHub") open source code
      %p
        from
        %a(href="http://openaustraliafoundation.org.au" title="The OpenAustralia Foundation") The OpenAustralia Foundation
