-#
  This template uses HAML to generate a script tag and an embedded HTML structure
  which is then parsed by underscore.js, which evaluates the mustache-style
  template tags ({{}} for interpolation, {[]} for evaluation) and fills them
  with a different marker's data each time the user clicks a marker on the map.

  If you want to do anything conditional, chances are you want to do it in
  JavaScript (inside a {[]} block) and *not HAML*, so that underscore.js can
  execute the condition each time it reuses the template.

%script{:id=> 'marker-template', :type => 'text/template'}
  .infowindow
    %p.reference {{ application.council_reference }}
    %h3.address {{ application.address }}
    %p.description {{ application.description_display }}
    %dl.metadata
      %dt.status Status:
      %dd.status {{ application.status_display || 'Unknown' }}
      {[ if(application.date_received){ ]}
      %dt.received Marked valid:
      %dd.received {{ application.date_received_display }}
      {[ } ]}
      {[ if(application.decision_date){ ]}
      %dt.decision Decision date:
      %dd.decision {{ application.decision_date_display }}
      {[ } ]}
    %p.submit
      %a.button.button.button-rounded.button-action{:href => '/applications/{{ application.id }}/{{ application.authority.short_name_encoded }}/{{ application.council_reference }}'}
        Show details
        %i.fa.fa-external-link-square
