%script{:id=> 'marker-template', :type => 'text/template'}
  %small
    %a{:href => '/applications/{{ application.id }}'}
      {{ application.council_reference }}
  %h3 {{ application.address }}
  %p {{ application.description }}
  %dl
    %dt Valid:
    %dd {{ application.date_received }}
    %dt Status:
    %dd {{ application.status }}
    %dt Decision date:
    %dd {{ application.decision_date }}
  %a{:href => '{{ application.info_url }}'} Read more