- content_for :page_title, "About"

%h3 About OpenPlanning
%p
  You'd probably know if your next door neighbour was going to knock their house down (you'd get a letter through
  the door telling you they had applied for planning permission and asking you what you thought about it). But you'd
  probably never find out if the old cinema or pub 5 streets away is going to be converted into luxury flats until&nbsp;
  %a(href="http://www.youtube.com/watch?v=srGsCYSYjwA")> the bulldozers turned up
  \.
%p
  OpenPlanning is a free service built on top of data from the Hampshire Hub prototype.
%p
  [ Better wording and acknowledgements here ]