- content_for :page_title, "About"

%h3 About OpenPlanning
%p
  You'd probably know if your next door neighbour was going to knock their house down (you'd get a letter through
  the door telling you they had applied for planning permission and asking you what you thought about it). But you'd
  probably never find out if the old cinema or pub 5 streets away is going to be converted into luxury flats until&nbsp;
  %a(href="http://www.youtube.com/watch?v=srGsCYSYjwA") the bulldozers turned up
  \.
%p
  OpenPlanning is a free service built on top of data from the
  %a(href="http://www.hampshirehub.net/") Hampshire Hub
  and we would like to thank the contributing organisations for their part in the project (Hampshire County Council, Rushmoor Borough Council, New Forest District Council and Swirrl).
%p
  To find out more about how the project came to being please read
  %a(href="http://www.local.gov.uk/documents/10180/11655/Hampshire+Evaluation+report+LG+Open+Data+Breakthrough+Projects_Final.pdf/a131371c-dbed-40a3-9b83-8a82d15dbbe9")the release from Hampshire County Council