- content_for :page_title, "Browse planning applications by authority"
%h3= yield :page_title

%table.authorities
  - @authorities.each do |authority|
    %tr
      %td.name
        = link_to authority.full_name, authority_url(authority.short_name_encoded)
      %td.total_applications
        =Application.where(:authority_id => authority.id).count
        applications
      %td.percent_approved
        ="#{authority.percentage_approved}% approved"
      %td.percent_delayed
        ="#{authority.percentage_delayed}% delayed"

